body{
    display: flexbox;
    background-color:goldenrod;
}

.mainheader{
    background-color: blue;
    text-align: center;
    font-size:5rem;
}
.headerimg {
    display: flex;
margin-left: auto;
margin-right: auto;
width:10em;
}
img{
display: flex;
margin-left: auto;
margin-right: auto;
width:10em;

}
.actor{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.fpHeader{
    text-align: center;
    background-color: rgb(191, 241, 7);
    font-size: 45px; 
}

ol{
    text-align: center;
    background-color: aquamarine;
    font-size: 15px;
    list-style-type:none;
}
li{
    list-style-type: none;
}
footer{
    background-color: blue;
}