body{
    display: flex;
    flex-direction: column;
    border: 5px solid red;
    background-color:goldenrod;
   
}
#header-container{
    display: flex;
    flex-direction: column;
    border:15px solid rgb(44, 151, 68);
    width:100%;
    height: 5%px;
}
.mainheader, .subtitle {
    display: flex;
    flex-direction: column;
    border:15px solid black;
    position: relative;
    background-color: blue;
    text-align: center;
    font-size:5rem;
    color:rgb(34, 19, 19);
    width:100%;
    height: 5%px;
}
.headerimg {
    display: flex;
margin-left: auto;
margin-right: auto;
width:auto;
}

h1,h3{
    font-style: italic;
    color:rgb(59, 34, 34);    
}
a:link{
    text-decoration: none;
}
.actor-img , .img {
display: flex;
max-width: 100%;
height: auto;
border: 5px solid green;

}
.actor{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    
}
.fpHeader{
    display: flex;
    flex-direction: inherit;
    text-align: center;
    background-color: rgb(191, 241, 7);
    font-size: 75px; 
    font-weight: bold;
}

ol{
    text-align: center;   
    background-color: aquamarine;
    font-size: 25px;
    list-style-type:none;
}

li{
    list-style-type: none;
    
}
footer{
    display: flex;
    flex-direction: column;
    background-color: blue;
    width:auto;
    height:150px;
    text-align: center;
    
}